# Ignorar arquivos de configuração sensíveis
.env

# Ignorar tudo dentro de Result_Analysis, exceto a pasta
/Result_Analysis/**
!/Result_Analysis/.gitkeep

# Ignorar tudo dentro de Archives, exceto a pasta
/Archives/**
!/Archives/.gitkeep


# Ignorar arquivos específicos do Python
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos gerados por IDEs (Exemplo para PyCharm, VSCode, etc.)
.idea/
.vscode/

# Ignorar arquivos de dependências (caso tenha um ambiente virtual)
venv/
env/
